<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>diary 페이지</h1>
  <form action="{% url 'diaries:index' %}" method='POST'>
    {% comment %} 저장된거 하나씩 뿌리기 {% endcomment %}
    {% for diary in diaries %}
      <p>{{diary.title}}</p>
      <p>{{diary.content}}</p>
      <a href="{% url 'diaries:update' diary.pk %}" method='POST'>[수정]</a>
      <a href="{% url 'diaries:delete' diary.pk %}" method='POST'>[삭제]</a>
      <hr>
    {% endfor %}
  </form>
</body>
</html>