<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <style>
      * {
        font-family: 'GmarketSans', sans-serif !important;
      }
    </style>
    <title>Document</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
      <div class="container">
        <a class="navbar-brand fw-bold text-white" href="{% url 'contentfetch:stock_finder' %}" method="POST">주식 댓글 분석</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'accounts:detail' user.pk %}">프로필</a>
              </li>
              <li class="nav-item">
                <form method="POST" action="{% url 'accounts:logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="nav-link btn btn-link text-white">로그아웃</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'accounts:signup' %}">회원가입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'accounts:login' %}">로그인</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>
